<tr>
    <th>{{tee_time_start}}</th>
    <td>{{#if availability}}
        Available
        {{else}}
        Booked
        {{/if}}</td>
    <td>${{price}}</td>

    <td><input class="button book-time email-time has-text-light has-background-success button is-small" type="submit"
            value="Book Time" action="send" method="POST" data-id="{{id}}" data-user-id="{{user_id}}"></td>
</tr>